.search-content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 2rem 4rem 2rem;
    background: url('../assets/lukas-blazek-f-TWhXOrLiU-unsplash\ 1.svg');
    background-size: cover;
}
.search-bar {
    display: flex;
    width: 70rem;
    height: 70px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .20);
}
.search-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background: white;
}
#search-input {
    background: white;
    height: 87%;
    width: 45rem;
    margin-right: .3rem;
    line-height: 87%;
    font-size: 24px;
}
#search-button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 88.02%, #B8B6B6 100%),
    linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 55.73%),
    linear-gradient(0deg, #FCDE7B, #FCDE7B);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    padding: 2rem 4rem;
    width: 182px;
    border-radius: 0;
    display: flex;
    align-items: center;
    border: none;
    transition: .25s ease-in-out;

    &:hover {
        color: white;
        background: coral;
    }
}
.cards-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    margin-top: 4rem;
}
.card {
    min-height: 400px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem 4rem 4rem;
    border: none;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    height: 200px;
}
.recipe-image {
    width: 325px;
    height: 200px;
    object-fit: cover;
}
.recipe-title {
    font-size: 24px;
    text-align: center;
    margin-top: 2rem;
}
.vegetarian {
    color: skyblue;
    font-size: 16px;
}
.vegan {
    color: lightgreen;
    font-size: 16px;
}
.cheap {
    color: lightgreen;
    font-size: 16px;
    margin: .5rem 0;
}
.expensive {
    color: red;
    font-size: 16px;
    margin: 2rem 0;
}